@import './extensions';

.datalist {
  padding: 1.5rem 1rem;
  height: 76vh;
  overflow-y: scroll;
  &-container {
    &-row th,
    td {
      font-size: 1.5rem;
    }
  }

  .org-details {
    @include flexing;
    gap: 2rem;
    justify-content: flex-start;
    align-items: unset;
    padding: 1rem 1.5rem;

    span,
    p,
    h4 {
      font-size: 1.6rem;
    }
  }
}
